<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1 th:text=" '책 수정' "/>
<form method="post" action="/regist">
    책 아이디 : <input type="text" name="book_id" th:value="${book.book_id}"/> <br/>
    책 이름 : <input type="text" name="book_title" th:value="${book.book_title}"/> <br/>
    책 작가 : <input type="text" name="book_author" th:value="${book.book_author}"/> <br />
    <button type="submit" value="regist">입력완료</button>
</form>
</body>
</html>