<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <h1>board Form</h1>
<form method="post" action="/add">
    <label>id</label>
    <input name = "id" type="text"><br>
    <label>제목</label>
    <input name = "title" type="text" placeholder="제목을 입력해주세요"><br>
    <label>작성자</label>
    <input name = "name" type="text" placeholder="이름을 입력해주세요"><br>
    <label>비밀번호</label>
    <input name = "pw" type="text" placeholder="비밀번호를 입력해주세요"><br>
    <label>이메일</label>
    <input name = "email" type="text" placeholder="이메일을 입력해주세요"><br>
    <label>내용</label>
    <input name = "content" type="text" placeholder="내용을 입력해주세요"><br>

  <button type="submit">입력</button>
</form>
</body>
</html>